@model WebLayer.EditModel.Class.EditEditModel

@{

    Layout = null;
}

<form class="form-group" asp-action="Edit" id="submitForm" onsubmit="return SubmitForm(this)">
    <div class="modal fade" id="modal-id" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Update class</h5>
                    <button class="btn btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="All" style="color: red"></div>
                    <input asp-for="@Model.ClassId" hidden>
                    <input asp-for="@Model.OldPresidentId" hidden>
                    <input asp-for="@Model.OldSecretaryId" hidden>
                    <div class="row">
                        <div class="col col-sm-3">
                            <label asp-for="@Model.Name" class="input-group-text">Name </label>
                        </div>
                        <div class="col col-sm-9">
                            <input asp-for="@Model.Name" placeholder="Class" class="form-control"
                                aria-describedby="ClassNameId" aria-label="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-3">
                            <label asp-for="@Model.StudentId" class="input-group-text">Student List</label>
                        </div>
                        <div class="col col-sm-9">
                            @Html.ListBoxFor(model => model.StudentId, Model.StudentList, new {
                            @class = "form-control",
                            id = "StudentListId",
                            multiple="multiple"
                            })
                        </div>
                    </div>
                    <div class="row" id="set-student-role" style="display: none;">
                        <div class="col col-sm-3">
                            <span class="input-group-text">Persident/Secretary</span>
                        </div>
                        <div class="col col-sm-9">
                            <div class="input-group">
                                <select asp-for="@Model.NewPresidentId" id="select-persident" class="form-select">
                                </select>
                                <select asp-for="@Model.NewSecretaryId" id="select-secretary" class="form-select">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-3">
                            <label asp-for="@Model.SubjectId" class="input-group-text">Subject List</label>
                        </div>
                        <div class="col col-sm-9">
                            @Html.ListBoxFor(model => model.SubjectId, Model.SubjectList, new {
                            @class = "form-control",
                            id = "SubjectListId",
                            multiple="multiple"
                            })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Update Class</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/class/class-edit.js"></script>