<body>

    <div class="container border border-2 border-secondary p-2">
        <div class="row">
            <div class="col-sm-10">
                <button class="btn btn-outline-primary btn-sm my-2 me-1" id="btnAddClass"> <i class="ti-plus"></i> Add
                    Class</button>
                <button class="btn btn-outline-primary btn-sm my-2 me-1" id="btnAddSubjectToClass"> <i
                        class="ti-book"></i> Register Subject</button>
                <button class="btn btn-outline-primary btn-sm my-2 me-1" id="btnDelete" style="display: none;"> <i
                        class="ti-trash"></i> Delete Selected Class </button>
                <button class="btn btn-outline-primary btn-sm my-2" asp-action="MaxBoy"> <i class="ti-eye"></i> Max
                    Boy</button>
                <a class="btn btn-outline-primary btn-sm my-2" asp-controller="FileHandler"
                    asp-action="ExportClassDetailToCSV"> Export To CSV</a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 mb-2 ">
            <div class="col">
                <div class="input-group">
                    <select class="form-select" id="quanityType">
                        <option value="Quantity">Quanity</option>
                        <option value="BoyQuantity">Boy Quanity</option>
                        <option value="GirlQuantity">Girl Quanity</option>
                    </select>
                    <input type="text" aria-label="Min Value" id="minValue" class="form-control" placeholder="Min">
                    <input type="text" aria-label="Max Value" id="maxValue" class="form-control" placeholder="Max">
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <input type="text" aria-label="Search Box" id="SearchBar" class="form-control"
                        placeholder="Class, President, Secretary">
                    <button class="btn btn-secondary border rounded ms-2" id="Reset"> Reset </button>
                    <button class="btn btn-secondary border rounded" id="Search"> Search </button>
                </div>
            </div>

        </div>
        <div class="lead text-secondary fs-6">
            <table id="example" class="table table-hover table-striped table-responsive table-bordered ">
                <caption>Class Detail</caption>
            </table>
        </div>
    </div>
</body>

@section Scripts{
@* script process for datatable *@
<script>
    function urlIndexClass() {
        return '@Url.Action("Index", "Class")';
    }
    function urlAddClass() {
        return '@Url.Action("Add", "Class")';
    }
    function urlEditClass(classId) {
        return '@Url.Action("Edit", "Class")?classId=' + classId;
    }
    function urlDeleteClass(classId) {
        return '@Url.Action("Delete", "Class")?classId=' + classId;
    }
    function urlEditStudent(studentId) {
        return '@Url.Action("Edit", "Student")?studentid=' + studentId;
    }
    function urlDeleteClassWithRange() {
        return '@Url.Action("DeleteRange", "Class")';
    }
    function urlRegisterSubject() {
        return '@Url.Action("AddSubject", "Class")';
    }
    
</script>
<script src="~/js/class_index.js"></script>
@* sending to parent layout *@
@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
