<div id="subject-container">
    <button class="btn btn-primary mb-3" onclick="OpenPopup('@Url.Action("Add", "Subject")')"> Add Subject </button>
    <div class="list-group list-group-flush">
        <div class="row border-0" id="parentNode">
            @* new element will added here *@
        </div>
    </div>
</div>

@section Scripts {
<script>
    function urlListSubject() {
        return '@Url.Action("SubjectList", "Subject")';
    }
    function urlAddSubject() {
        return '@Url.Action("Add", "Subject")';
    }
    function urlEditSubject(subjectId) {
        return '\'@Url.Action("Edit", "Subject")?subjectId=' + subjectId + '\'';
    }
    function urlDeleteSubject(subjectId) {
        return '\'@Url.Action("Delete", "Subject")?subjectId=' + subjectId + '\'';
    }
</script>
<script src="~/js/subject_index.js"></script>
@*Send validation to layout*@
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}