@model IndexViewModel
@{

    ViewData["Title"] = "Quản lý tài khoản của bạn";

    ViewData["CurrentPage"] = "Index";
}
<form id="profile-form" method="post">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label asp-for="@Model.FullName"></label>
                <input asp-for="@Model.FullName" class="form-control" />
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label asp-for="@Model.Username"></label>
                <input asp-for="@Model.Username" class="form-control" disabled />
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <div class="form-group">
                <label asp-for="@Model.Birthday"></label>
                <input asp-for="@Model.Birthday" class="form-control" type="date" />
                <span asp-validation-for="@Model.Birthday" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Website"></label>
            <input asp-for="@Model.Website" class="form-control" />
            <span asp-validation-for="@Model.Website" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Address"></label>
            <input asp-for="@Model.Address" class="form-control" />
            <span asp-validation-for="@Model.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.About"></label>
            <textarea asp-for="@Model.About" class="form-control"></textarea>
            <span asp-validation-for="@Model.About" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <button id="submit" type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>